@tailwind base;
@tailwind components;
@tailwind utilities;

/*html, body {*/
/*    scroll-behavior: smooth;*/
/*}*/

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #8F817090;
    border: 1px solid #ffffff40;
    border-radius: 24px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #8F8170;
}

@layer components {
    .btn-border {
        @apply relative  lg:text-lg text-brown hover:text-white duration-500 block before:absolute z-0 text-center before:top-0 before:left-0 before:w-full  before:h-full  before:bg-brown  before:z-[-1]  before:transition-transform  before:duration-500  before:transform  before:origin-bottom-right before:scale-0 hover:before:scale-100 hover:before:origin-top-left   after:absolute after:top-0 after:left-0 after:w-full  after:h-full   after:z-[-1]  after:transition-transform  after:duration-500  after:transform  after:origin-top-left after:border after:border-brown hover:after:scale-0 hover:after:origin-bottom-right
    }
    .btn-bg {
        @apply relative   lg:text-lg text-white hover:text-brown text-center duration-500 z-0 block before:absolute before:top-0 before:left-0 before:w-full  before:h-full  before:bg-brown  before:z-[-1]  before:transition-transform  before:duration-500  before:transform  before:origin-top-left  hover:before:scale-0 hover:before:origin-bottom-right   after:absolute after:top-0 after:left-0 after:w-full  after:h-full   after:z-[-1]  after:transition-transform  after:duration-500  after:transform  after:origin-bottom-right after:border after:border-brown hover:after:scale-100 after:scale-0 hover:after:origin-top-left
    }
    .btn-border-white {
        @apply relative text-sm md:text-base lg:text-lg text-white hover:text-white text-center duration-500 block z-0 before:absolute before:top-0 before:left-0 before:w-full  before:h-full  before:bg-brown  before:z-[-1]  before:transition-transform  before:duration-500  before:transform  before:origin-bottom-right before:scale-0 hover:before:scale-100 hover:before:origin-top-left   after:absolute after:top-0 after:left-0 after:w-full  after:h-full   after:z-[-1]  after:transition-transform  after:duration-500  after:transform  after:origin-top-left after:border after:border-white hover:after:scale-0 hover:after:origin-bottom-right
    }

    .section-title {
        @apply text-2xl
        text-iron
        md:text-4xl lg:text-5xl
        font-elegance
    }

    .header-title {
        @apply text-4xl text-white font-elegance font-normal md:text-5xl lg:text-6xl xl:text-7xl
    }

    .section-text {
        @apply text-[#575757]  tracking-[0.4px] font-openSans font-light md:text-lg  xl:text-xl
    }

    .nav-active {
        @apply bg-brown text-white
    }

    .nav-btn {
        @apply bg-white text-brown
    }

    .mini-header-title {
        @apply text-white font-elegance text-2xl  md:text-4xl lg:text-5xl
    }

    .card-shadow {
        @apply shadow-sm hover:shadow-xl hover:shadow-brown/50
    }

}

.header-banner {
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2) 51.081%,rgba(0, 0, 0, 0) 100%);
}

/*       SLIDER   */
.header-slider .swiper-pagination {
    display: none !important;
}

.section-slider .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    background-color: #af8d64f3;
    border-radius: 0;
}

.room-slider  .swiper-pagination-bullet, .room-slider .mySwiper2 .swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.50) !important;
    border-radius: 0;
}

.room-slider  .swiper-pagination-bullet-active, .room-slider .mySwiper2 .swiper-pagination-bullet-active {
    width: 40px;
    height: 4px;
    background-color: white !important;
    border-radius: 0;
}

.pagintaion-slider {
    display: inline-flex !important;
    width: auto !important;
}

.pagintaion-slider .swiper-pagination-bullet {
    display: inline-block !important;
    width: 40px !important;
    height: 2px !important;
    background-color: #af8d64f3 !important;
    border-radius: 0;
}

.pagintaion-slider .swiper-pagination-bullet-active {
    background-color: #000000;
}

.room-inner-swiper .swiper-wrapper {
    flex-direction: column !important;
    width: 100%;
    height: 100%;
}


/* input type = number arrowi o'chirish */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* room inner slider swiper wrapper */
.room-inner-slider .swiper-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    gap:10px;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.room-inner-slider .mySwiper .swiper-slide {
    width: 100% !important;
    height: 24% !important;
}


/* map */
iframe div {
    border: none !important;
}